In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# plt.close("all")

# ts = pd.Series(np.random.randn(100), index=pd.date_range("1/1/2000", periods=100))

# ts = ts.cumsum()

# startRange = 0
# endRange = 101

# print(ts[startRange:endRange])

# ts[startRange:endRange].plot()


df = pd.DataFrame({'A': [1, 1, 2, 1, 2],

                   'B': [np.nan, 2, 3, 4, 5],

                   'C': [1, 2, 1, 1, 2]}, columns=['A', 'B', 'C'])

print(df)
df.groupby('A').sum()

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

SalesDF = pd.read_csv("Sales.csv")

RevenueDF = SalesDF.groupby(["Country", "State"])["Revenue"].aggregate(np.sum).unstack()
RevenueDF.assign(Total=RevenueDF.sum(1)).stack().to_frame("Revenue")

# Learn how to add more columns

                                  Revenue
Country        State
Australia      New South Wales     5429.0
               Queensland          2823.0
               Victoria            7490.0
               Total              15742.0
Canada         British Columbia   32671.0
               Total              32671.0
France         Moselle             5808.0
               Nord                 939.0
               Seine Saint Denis   1574.0
               Total               8321.0
Germany        Hessen              6361.0
               Saarland            1770.0
               Total               8131.0
United Kingdom England             3456.0
               Total               3456.0
United States  California         29400.0
               Oregon              3509.0
               Washington          2247.0
               Total              35156.0